<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>테스트 중입니다</h1>
    <div th:unless="${posts.isEmpty()}" th:each="post : ${posts}">
        <p th:text="${post.id}"></p>
        <p th:text="${post.memo}"></p>
        <p th:text="${post.userId}"></p>
        <p th:text="${post.myPosition}"></p>
        <p th:text="${post.findPosition}"></p>
    </div>
    <div th:if="${posts.isEmpty()}">
        <p>글이 업서요!!</p>
    </div>
</body>
</html>