
<!--네비게이션 바-->
<nav  th:fragment="navbarFragment" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/icon/free-icon-lion-512px.png" alt="" width="35" height="35">
        </a>
        <form id="searchForm" method="post" action="/users/search" class="d-flex flex-grow-1 me-3">
            <input type="search" name="gameName" class="form-control me-2 flex-grow-1" placeholder="소환사 닉네임 입력" required>
            <input type="search" name="tagLine" class="form-control me-2 flex-grow-1" placeholder="게임 태그(Ex.#KR1) 입력" required>

            <button class="btn btn-outline-success" type="submit">Search</button>

        </form>
        <form class="d-flex">
            <!--            <button class="btn btn-outline-success me-2" type="button">듀오 구하기</button>-->
            <button class="btn btn-sm btn-outline-primary me-2" type="button">듀오 구하기</button>
            <!--인증된 유저는 마이 페이지 버튼이 보이고, 인증 안된 유저는 로그인 버튼 보인다.-->
            <div th:if="${isAuthenticated}">
                <a class="btn btn-sm btn-outline-primary" href="/my-page">마이 페이지</a>
            </div>
            <div th:unless="${isAuthenticated}">
                <a class="btn btn-sm btn-outline-success" href="/login">로그인</a>
            </div>
        </form>
    </div>
</nav>